<header class="main-row">
    <div class="col align-self-center">
        <h2 class="bg-primary p-3 d-inline-block rounded-4">Website-Title</h2>
    </div>
    <div class="col-3 align-self-center">
        <label>
            <input type="text" placeholder="Search-Bar">
        </label>
    </div>
    <div class="col-1 align-self-center">
        <a href="#"><i class="user-solid-icon fa-2x text-primary"></i></a>
    </div>
</header>

