{% extends 'base.html.twig' %}

{% block content %}
    <main class="col debug-border">
        <h1>Start-page</h1>
        <p>Start-page content</p>
        <p>{{ test_variable }}</p>
        <p>Hallo!</p>
    </main>
{% endblock %}