//Main Colors
$primary-color: #3CB35A;
$darkest-color: #232323;
$dark-color: #464646;
$secondary-color: #8DADFF;
$light-color: #BEBEBE;
$lightest-color: #E7E7E7;

//Accent Colors
$red-accent-color: #EF4444;
$turquoise-accent-color: #41CBBF;
$pink-accent-color: #FF36AB;
$orange-accent-color: #F59E0B;